html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
h2{
    font-size:300%;
    font-weight:700;
    color:black;
    text-align:center;
    text-decoration: underline;
}
p{
    font-family: "Helvetica Neue",Helvetica,Arial;
    color: #2c2c2c;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300;

}
img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}
.intro{
    height: 100%;
    width: 100%;
    margin:auto;
    background:url('../images/pg.jpg') no-repeat center center/cover;
    background-size: cover;
    display:table;
    top: 0;
}
.intro .inner{
    display:table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
    
}
.content{
    max-width: 600px;
    margin: auto;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:250%;
    font-weight:700;
    color:white;
    text-align:center;
    padding:2%;
    text-shadow:0px 0px 250px white;
}
.content p{
    color:white;
}
.inner{
    max-width:600px;
    margin: auto;
    font-size:150%;
    line-height:1.6;
    padding:10px;
}

/* navigation */
nav{
    float:left;
    padding: 5% 5% 0 0; /*top right bottom left*/
    height:50px;
}
nav ul{
    list-style: none;
    float:left;
}
nav ul li{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:120%;
}
nav ul li a{
    color:white;
    text-decoration: none;
}
nav ul li a:hover{

    text-decoration: underline;
}
 nav ul,nav:active ul {
    display: none;
    padding:8px 0px;
    width:20%;
    z-index:1000;
    top:30px;
    left:20px;
}
nav li{
    width:100%;
    padding:8px 0 10px 7px;
    margin:0;
}
nav:hover ul{
    display:block;
    position:absolute;
}
#menu-icon{
    width:30px;
    height:26px;
    background:url("images/nav-icon.png") center;
    display:inline-block;
    margin:18px 12px 5px 18px;
}
/*---------navigation end */
.left-col{
    width:26%;
    float:left;
    margin:4% 0 4% 4%;

}
.sidebar{
    width: 32%;
    float:left;
    margin: 12% 0% 2% 22%; 


}
#stocks{
    display:flex;
    flex-wrap: wrap;
}
.one-third-port{
    width:28%;
    padding:2%;
    float:left;

}
.one-third-port img:hover{
    opacity:0.5;
}
.contact p{
    text-align:center;
    letter-spacing: 5px;
}
.contact p a{
    text-decoration:none;
}
.clearfix{
    clear:both;
    height:3%;
    
}
.parallax{
    background:url('images/br.jpg') repeat fixed 10%;
    


}
.parallax-inner{
    padding-top:27%;

}
.social{
    list-style-type:none;
    text-align: center;
}
.social li{
    display: inline;
}
.social i{
    font-size:180%;
    margin:1% 5% 7% 4%;
    color:#bf6767;
}
.social i:hover{
    color:rgb(255, 0, 25);
    
}
footer.second{
    background-color:rgb(45, 44, 44);
    text-align:center;
    padding:.2%;
}
footer.second p{
    color:white;
    text-align:center;
}
@media screen and (max-width:760px){
    #menu-icon{
        margin:18px 0 0 16px;
        width:25px;

    }
    nav ul li{
        
        font-size:100%;
    }
    nav ul, nav:active ul{
        padding:2px 0;
        left:10px;
        top:34px;
        width:30%;
    }
    .inner{
        font-size:120%;
    }
    .content h1{
        font-size:120%;
        padding:40px 40px 0 0;
    }
    p{
        font-size:140%;
    }
    h2{
        font-size:160%;
    }
    .left-col{
        width:96%;
        margin: 0 0 3% 0;
        padding:0 2%;
    }
    .sidebar{
        width:90%;
        margin:0 auto;
    }
    img{
        padding:2%;
    }
    .one-third-port{
        width:96%;
        margin: 0 auto;
        padding:0;
    }
    .parallax{
        background:url('images/br.jpg') repeat fixed 30%;
        
    
    
    }
    .parallax-inner{
        padding-top:35%;
    
    }
    .break{
        display: inline;
    }
}
